body {
  background-color: #0d001a;
  color: #39ff14;
  font-family: 'Press Start 2P', monospace;
  margin: 0;
  padding: 0;
  line-height: 1.8;
}

.terminal {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #120022;
  border: 2px solid #39ff14;
  box-shadow: 0 0 20px #8a2be2;
  border-radius: 12px;
  margin-top: 3rem;
}

.logo {
  font-size: 2rem;
  text-align: center;
  color: #39ff14;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 0.75rem;
  text-align: center;
  color: #39ff14;
  margin-bottom: 2rem;
}

.highlight-roxo {
  color: #d580ff;
}

.bloco {
  margin-bottom: 2rem;
}

h2 {
  color: #d580ff;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

ul {
  list-style-type: square;
  padding-left: 1.5rem;
}

footer {
  text-align: center;
  font-size: 0.6rem;
  margin-top: 2rem;
  color: #555;
}